@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:0;
}

/* shared-styles */
.all-btn{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding:25px;
    font-size:20px;
    font-weight:600;
    text-align:center;
    border:none;
    cursor: pointer;
}
.all-sem-title{
    color: rgb(19, 19, 19);
    font-size:2.81rem;
    font-weight: 700;
}
.all-sem-description{
    color: rgb(114, 114, 114);
    font-size:1rem;
    font-weight: 400;
}
.flex{
    display: flex;
}
main{
    max-width:1440px;
    margin:0 auto;
}
section{
    margin-top:100px;
}
/* header-styles */

header{
    background: rgba(255, 144, 14, 0.1);
    height:1322px;
}
/* nav-section */
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.brand{
    font-weight:700;
    font-size: 2.8rem;
}
.nav-links{
    display: flex;
    list-style:none;
    gap:50px;
    justify-content: center;
}
.nav-link>a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.navbar,.banner{
    max-width:1440px;
    margin:0 auto;
}
/* banner-section */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-text-box{
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    color:rgba(19,19,19);
    font-weight:700;
    font-size:4rem;
    margin-bottom:0;
}
.banner-description{
    color: rgb(114, 114, 114);
    font-weight:400;
    font-size:1rem;
    margin-bottom: 32px;
}
.banner-img{
    width:100%;
}
/* features-section */
.features-img{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:24px;
    width:55%;
}
.group{
    width:100%;
}
.features{
    align-items: center;
    justify-content: space-between;
}
.our-features{
    max-width:534px;
}
#quick-list{
    color: rgb(114, 114, 114);
    font-weight:500;
    font-size:2.81rem;
}
#of-our{
    color: rgb(19, 19, 19);
    font-weight:700;
    font-size:2.81rem;
}
#features{
    color: rgb(255, 144, 14);
    font-weight:700;
    font-size:2.81rem;
}
/* love-and-enjoy-section */
.enjoy{
    display:flex;
    gap:146px;
}
.joy-title{
    padding-left:20px;
    border-left: 5px solid rgb(255, 144, 14);
    margin: 0;

}
.joy-description{
    margin-top:24PX;
}
.enjoy-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 20px;
    border-radius:8px;
}
.enjoy-card-title{
    color: rgb(19, 19, 19);
    font-weight: 600;
    font-size:1.43rem;
    margin:0;
}
.enjoy-card-description{
margin-top: 10PX;
}
.jambo-text{
    font-size: 4rem;
    font-weight:700;
}
#experience{
    margin-left:-75px;
    margin-top:-100px;
}
#enjoy-img{
    width:100%;
}
/* some-facts-section */
.facts-Container{
    max-width:542px;
    margin-bottom: 100px;
}
.facts-title{
    margin-bottom: 24px;
}
.facts-description{
    margin-top: 0;
    margin-bottom: 0;
}
.facts-icon-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.facts-icon-box{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.facts-icon{
    width:25%;
}
.facts-number{
    font-size:2.81rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.facts-icon-description{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    color: rgb(114, 114, 114);
}
/* our-sponsors-section */
.sponsors-text-box{
    max-width:542px;
    text-align: center;
    margin:0 auto;
}
.sponsors-title{
    margin-bottom: 24px;
}
.sponsors-description{
    margin-top: 0;
    margin-bottom:50px ;
}
.sponsors-img-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    justify-items: center;
}
.sponsors-img{

}
/* copyright-section */
.copyright-description{
    text-align: center;
    margin-top:169px;
    margin-bottom: 40px;
}
/* mobile-responsive-media-query */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .features,
    .enjoy
    {
        flex-direction: column;
    }
    .enjoy{
        flex-direction: column-reverse;
    }
    .features-img{
        grid-template-columns:repeat(1, 1fr);
        width:90%;
        justify-items: center;
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-Container{
        text-align: center;
    }
    .facts-icon-container{
        grid-template-columns: repeat(1, 1fr);
        gap:24px;
        justify-items: center;
    }
    .sponsors-img-box{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap:30px;
    }
    #experience{
        margin-top:20px;
        margin-left:60px;
    }
}
/* medium-device-responsive-media-query */
@media screen and (min-width:577px) and (max-width:992px) {

    .features{
        flex-direction:column;
        max-width:80%;
        margin:100px auto 0 auto;
    }
    .enjoy{
        flex-direction: column;
    }
    .features-img{
        width:100%;
    }
    .our-features{
        width:100%;
        max-width:none;
    }
    .facts-Container{
        text-align: center;
    }
    .facts-icon-container{
        gap:20px;
        grid-template-columns:repeat(2, 2fr);
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .facts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sponsors-img-box{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap:25px;
    }
    #experience{
        margin-top:20px;
        margin-left:1px;
    }
    .enjoy{
        gap:46px;
    }
}
